<table mat-table [dataSource]="produtos" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let produto"> {{produto.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let produto"> {{produto.categoria}} </td>
    </ng-container>
  
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let produto"> {{produto.nome}} </td>
    </ng-container>
  
    <ng-container matColumnDef="preco">
      <th mat-header-cell *matHeaderCellDef> Preço </th>
      <td mat-cell *matCellDef="let produto"> {{produto.preco}} </td>
    </ng-container>

    <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let produto"> {{produto.descricao}} </td>
    </ng-container>

    <ng-container matColumnDef="quantidade">
        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
        <td mat-cell *matCellDef="let produto"> {{produto.quantidade}} </td>
    </ng-container>

    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let produto"> <app-editar-produto (atualizaListaEvent)="atualizarLista($event)" [produto]="produto"></app-editar-produto> </td>
    </ng-container>

    <ng-container matColumnDef="deletar">
        <th mat-header-cell *matHeaderCellDef> Deletar </th>
        <td mat-cell *matCellDef="let produto"> <app-deletar-produto (atualizaListaEvent)="atualizarLista($event)" [id]="produto.id"></app-deletar-produto> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <app-cadastrar-produto (atualizaListaEvent)="atualizarLista($event)"></app-cadastrar-produto>